@model SafetyMap.Core.DTOs.CrimeCategory.CrimeCategoryDTO

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CrimeCategory</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ColorCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ColorCode)
            <div
                style="width: 20px; height: 20px; background-color: @Model.ColorCode; display: inline-block; margin-left: 10px; border: 1px solid #000;">
            </div>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
